/* =========================
   CSS Variables (Theme)
========================= */
:root {
  --primary-color: #2563eb;
  --secondary-color: #1e40af;
  --text-color: #111827;
  --bg-color: #f8fafc;
  --card-bg: #ffffff;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;
}

/* =========================
   Global Reset
========================= */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========================
   Base Layout
========================= */
html,
body {
  height: 100%;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-width: 320px;
}

/* =========================
   React Root
========================= */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* =========================
   Links & Buttons
========================= */
a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color:rgb(64, 242, 79);

}
button {
  font-family: inherit;
  border-radius: 6px;
  border: none;
  padding: 8px 14px;
  cursor: pointer;
}

/* =========================
   Utilities
========================= */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}
.apply-btn {
  background-color: #2563eb;
  color: #ffffff;
  padding: 10px 18px;
  border-radius: 6px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.apply-btn:hover {
  background-color: #808cb3;
}

.apply-btn:active {
  background-color: #3d84a7;
  transform: scale(0.97);
}

/*--Loading Global page---*/
.global-loader {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 42px;
  height: 42px;
  border: 4px solid #e5e7eb;
  border-top-color: #2563eb;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

